@import "color.scss";
@import "./theme/default.scss";
// 颜色
$color-primary: $color-orange;

$color-font-dark: $color-light-grey-s;
$color-font-master: $color-light-grey-ss;
$color-font-light: $color-light-grey-ssss;
$color-font-light-s: $color-white;
$color-font-active: $color-active-grey;
$color-font-tips: $color-light-grey-s;

$color-background-master: $color-grey;
$color-background-dark: $color-dark-grey;
$color-background-light: $color-light-grey;
$color-background-light-s: $color-light-grey-s;

// border
$color-border-master: $color-dark-grey;

// box-shadow
$box-shadow-content: 0 1px 3px rgba(0, 0, 0, .1);

// font-size vars
$fontsize-large-xxx: 24px;
$fontsize-large-xx: 20px;
$fontsize-large-x: 18px;
$fontsize-large: 16px;
$fontsize-medium: 14px;
$fontsize-small: 12px;
$fontsize-small-s: 10px;

// radius-size
$radius-size-medium: 5px;

